header{
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    color: #0e0c0c;
}

body{
    background-color: #fff;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 15px;
    font-family: Roboto;
}

.pokedex{
    font-weight: 300;
    font-size: 40px;
    color: #6e6e6e;
}

/* ESTILOS DE EL FORMULARIO -- INICIO*/
.form_group{
    position: relative;
}

.form_group .form_input{
    width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: none;
    border-bottom: 3px solid #b4b4b4;
    background: transparent;
    color: #2c2c2c;
    outline: none;
    transition: .3s;
}

.form_group .form_label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #2c2c2c;
    font-size: 19px;
    pointer-events: none;
    transition: 0.3s;
}

input:focus ~ .form_label, .form_input:valid ~ .form_label{
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background: #fff;
    color: rgb(3, 112, 255);
}

.form_group:focus ~ .form_label, .form_input:focus{
    border-bottom: 3px solid #006eff;
}

.name{
    font-size: 30px;
    color: #fdfdfd;
    text-transform: capitalize;
    font-weight: 700;
}

.number{
    font-size: 32px;
    font-weight: 800;
    color: #3d597f;
}

.type{
    font-size: 16px;
}
/* ESTILOS DE FORMULARIO ---- TERMINO */

/* ESTILOS DE CONTENT --INICIO */
#content{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* grid-template-columns: repeat(3, 1fr);
    gap: 15px; */
    cursor: pointer;
    transition: 1s;
}

.img{
    width: 200px;
    height: 200px;
}

#info{
    border: none;
    outline: none;
    width: 50%;
    height: 80%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #00000043;
    background: radial-gradient(circle, #9dbdf8, #00559be5);
    transition: 1s;
}

.close{
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    border-radius: 30px;
    background-color: #ffffff00;
    color: #0e0c0c;
    width: 30px;
    height: 30px;
}

.close:hover{
    background-color: #ab0000;
    color: #fff;
}

/* ESTILOS DE CONTENT --TERMINO*/

/* ESTILOS DE CARD -- INICIO*/
.card{
    /* border: 2px solid #bdbdbd; */
    border-radius: 15px;
    text-align: center;
    transition: 1s;
    box-shadow: 5px 5px 5px 5px #2626263d;
    background: radial-gradient(circle, #ffcc008e, #d8000070);
    width: 300px;
    aspect-ratio: 3/2;
    flex-grow: 1;
}

.card:hover{
    transform: scale(1.03);
    transition: 1s;
}

.info-pokemon{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#lblImg{
    width: 250px;
    height: 250px;
    justify-self: center;
    align-self: center;
}

.divTipo, .divHabilidades{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.divTipo p, .divHabilidades p{
    background-color: #00e6459a;
    color: #fff;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
}

.divHabilidades p{
    background-color: #ff494983;
}

.divTipo h2, .divHabilidades h2{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    background-color: #00e645e5;
    border-radius: 10px;
    padding: 5px 15px;
}

.divHabilidades h2{
    background-color: #ff4949;
}
/* ESTILOS DE CARD -- TERMINO*/

/* ESTILOS DE FOOTER -- INICIO*/
.footer{
    width: 100%;
    background-color: #006eff;
    height: 100px;
}
/* ESTILOS DE FOOTER -- TERMINO*/